<div class="form">
  <%= simple_form_for @cocktail do |f| %>
    <%= f.input :name, placeholder: "name of cocktail", input_html: { class: 'input-sm' } %>
    <%= f.input :photo %>
    <%= f.input :photo_cache, as: :hidden %>

    <div class="button">
      <%= f.button :submit, class: 'btn btn-sm btn-primary' %>
    </div>
  <% end %>
</div>
