<%= render 'shared/banner' %>

<div class="container text-center cocktails">
  <h1>All Our Cocktails</h1>
  <div class="row">
    <% @cocktails.each do |cocktail| %>
      <%= link_to cocktail_path(cocktail) do %>
        <div class="col-xs-6 col-sm-4 col-md-3">
          <div class="cocktail-card">
            <%= link_to '', cocktail_path(cocktail), class: 'card-link' %>
            <div class="delete-x text-right">
              <%= link_to cocktail_path(cocktail), data: { method: :delete, confirm: 'Are you sure?' } do %>
                <i class="fa fa-times"></i>
              <% end %>
            </div>
            <div class="cocktail-content">
              <div class="cocktail-name">
                <h4><%= cocktail.name %></h4>
              </div>
              <%= link_to cocktail_path(cocktail) do %>
                <div class="cocktail-img">
                  <%= image_tag cocktail.photo.url(:standard), class: "mirrored" if cocktail.photo? %>
                </div>
              <% end %>
            </div>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
</div>
