<% @cocktail = @cocktail.nil? ? Cocktail.find(id) : @cocktail %>
<% @review   = @review.nil? ? Review.new : @review %>
<% @dose     = @dose.nil? ? Dose.new : @dose %>

<div class="container">

  <div class="cocktail-header">
    <%= image_tag @cocktail.photo.url(:standard), class: "mirrored" if @cocktail.photo? %>
    <div class="cocktail-info">
      <h3><%= @cocktail.name %></h1>
      <p>Nationality: <%= @cocktail.nationality %></p>
      <p>
        <%@cocktail.avg_rating.times { %><i class='fa fa-star'></i> <% } %>
        <%(5 - @cocktail.avg_rating).times { %><i class='fa fa-star-o'></i> <% } %>
      </p>
    </div>
  </div>

  <div class="ingredients">
    <h3 class="text-center">Recipe</h3>
    <h4>You will need:</h4>
    <ul>
      <% @cocktail.ingredients.each do |ingredient| %>
        <li><%= link_to ingredient.name, ingredient_path(ingredient) %></li>
      <% end %>
    </ul>
  </div>

  <div class="recipe">
    <h4>How to do it:</h4>
    <% @cocktail.doses.each do |dose| %>
      <% if dose.description != "" %>
        - <%= dose.description %><br>
      <% end %>
    <% end %>
  </div>

  <div class="reviews-container">
    <h3 class="text-center">Reviews</h3>
    <%= '<h4>No reviews yet</h4>'.html_safe if @cocktail.reviews.empty? %>
    <% @cocktail.reviews.each do |review| %>
      <div class="review">
        <p><%= review.comment %></p>
        <p>
          <%review.rating.times { %><i class='fa fa-star'></i> <% } %>
          <%(5 - review.rating).times { %><i class='fa fa-star-o'></i> <% } %>
        </p>
      </div>
    <% end %>
  </div>

  <div class="forms-container">
    <div class="row">
      <div class="col-xs-6">
        <%= render 'doses/form' %>
      </div>
      <div class="col-xs-6">
        <%= render 'reviews/form' %>
      </div>
  </div>
</div>
