<% @cocktail = @cocktail.nil? ? Cocktail.find(id) : @cocktail %>

<div class="container">

  <div class="cocktail-header">
    <%= image_tag @cocktail.photo.url(:standard), class: "mirrored" if @cocktail.photo? %>
    <div class="cocktail-info">
      <h3><%= @cocktail.name %></h1>
      <p>Nationality: <%= @cocktail.nationality %></p>
      <p>
        <%@cocktail.avg_rating.times { %><i class='fa fa-star'></i> <% } %>
        <%(5 - @cocktail.avg_rating).times { %><i class='fa fa-star-o'></i> <% } %>
      </p>
    </div>
  </div>

  <div class="ingredients">
    <h3>You will need:</h3>
    <ul>
      <% @cocktail.ingredients.each do |ingredient| %>
        <li><%= link_to ingredient.name, ingredient_path(ingredient) %></li>
      <% end %>
    </ul>
  </div>

  <div class="recipe">
    <h3>How to do it:</h3>
    <% @cocktail.doses.each do |dose| %>
      <% if dose.description != "" %>
        - <%= dose.description %><br>
      <% end %>
    <% end %>
  </div>

  <div class="reviews">
    <h3>Reviews</h3>
    <% @cocktail.reviews.each do |review| %>
      <p><%= review.comment %></p>
      <p>
        <%review.rating.times { %><i class='fa fa-star'></i> <% } %>
        <%(5 - review.rating).times { %><i class='fa fa-star-o'></i> <% } %>
      </p>
    <% end %>
  </div>

  <div class="new-dose">
    <div class="row">
      <div class="col-xs-6">
        <%= render 'doses/form' %>
      </div>
      <div class="col-xs-6">
        <%= render 'reviews/form' %>
      </div>
  </div>
</div>
